<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kalkulationDetails">
            <h2><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.detail.title">Kalkulation Details</span> {{kalkulationDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.a">A</span></dt>
                <dd>
                    <span>{{kalkulationDetails.a}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.b">B</span></dt>
                <dd>
                    <span>{{kalkulationDetails.b}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.c">C</span></dt>
                <dd>
                    <span>{{kalkulationDetails.c}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.d">D</span></dt>
                <dd>
                    <span>{{kalkulationDetails.d}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.e">E</span></dt>
                <dd>
                    <span>{{kalkulationDetails.e}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.f">F</span></dt>
                <dd>
                    <span>{{kalkulationDetails.f}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.g">G</span></dt>
                <dd>
                    <span>{{kalkulationDetails.g}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.h">H</span></dt>
                <dd>
                    <span>{{kalkulationDetails.h}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.i">I</span></dt>
                <dd>
                    <span>{{kalkulationDetails.i}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.j">J</span></dt>
                <dd>
                    <span>{{kalkulationDetails.j}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.k">K</span></dt>
                <dd>
                    <span>{{kalkulationDetails.k}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.l">L</span></dt>
                <dd>
                    <span>{{kalkulationDetails.l}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.m">M</span></dt>
                <dd>
                    <span>{{kalkulationDetails.m}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.n">N</span></dt>
                <dd>
                    <span>{{kalkulationDetails.n}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.o">O</span></dt>
                <dd>
                    <span>{{kalkulationDetails.o}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.p">P</span></dt>
                <dd>
                    <span>{{kalkulationDetails.p}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.q">Q</span></dt>
                <dd>
                    <span>{{kalkulationDetails.q}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.r">R</span></dt>
                <dd>
                    <span>{{kalkulationDetails.r}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.s">S</span></dt>
                <dd>
                    <span>{{kalkulationDetails.s}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.t">T</span></dt>
                <dd>
                    <span>{{kalkulationDetails.t}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.u">U</span></dt>
                <dd>
                    <span>{{kalkulationDetails.u}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.v">V</span></dt>
                <dd>
                    <span>{{kalkulationDetails.v}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.w">W</span></dt>
                <dd>
                    <span>{{kalkulationDetails.w}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.x">X</span></dt>
                <dd>
                    <span>{{kalkulationDetails.x}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.y">Y</span></dt>
                <dd>
                    <span>{{kalkulationDetails.y}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.z">Z</span></dt>
                <dd>
                    <span>{{kalkulationDetails.z}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.aa">Aa</span></dt>
                <dd>
                    <span>{{kalkulationDetails.aa}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.ab">Ab</span></dt>
                <dd>
                    <span>{{kalkulationDetails.ab}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.ac">Ac</span></dt>
                <dd>
                    <span>{{kalkulationDetails.ac}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.ad">Ad</span></dt>
                <dd>
                    <span>{{kalkulationDetails.ad}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.ae">Ae</span></dt>
                <dd>
                    <span>{{kalkulationDetails.ae}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.af">Af</span></dt>
                <dd>
                    <span>{{kalkulationDetails.af}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.ag">Ag</span></dt>
                <dd>
                    <span>{{kalkulationDetails.ag}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication55App.kalkulationDetails.kalkulation">Kalkulation</span></dt>
                <dd>
                    <div *ngIf="kalkulationDetails.kalkulation">
                        <a [routerLink]="['/kalkulation', kalkulationDetails.kalkulation?.id, 'view']">{{kalkulationDetails.kalkulation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kalkulation-details', kalkulationDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
